* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Quattrocento', serif;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    background-image: linear-gradient(#caddfd, #beefec, lavender);
    background-color: #caddfd;
    color: rgba(255, 255, 255, 0.65);
}


/* HEADER */

header {
    padding: 8% 0 0;
    text-align: center;
    color: #4a4777;
    font-family: 'Libre Baskerville', serif;
}

header h1 {
    font-size: 3em;
    text-shadow: 3px 3px 3px lavenderblush;
}

.header-flex {
    display: flex;
    justify-content: center;
}

.header-img {
    max-width: 100px;
    margin-right: 25px;
    border-radius: 100%;
}

.webdev {
    padding: 12% 0 0;
    text-align: center;
    color: #4a4777;
    font-family: 'Libre Baskerville', serif;
}

.fix-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 3%;
}

.hidden {
    display: none;
}

header h1 {
    margin: 0;
}

header p {
    padding-bottom: 8%;
}

header img {
    padding: 2% 0;
    max-width: 350px;
}

.top-nav {
    font-family: 'Quattrocento', serif;
    z-index: 10;
    margin: auto 12%;
    padding: 1% 0;
    background-color: lightgray;
}

.top-nav-ul {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.top-nav-ul li {
    padding: 11px 0;
}

.top-nav-ul a {
    text-decoration: none;
    color: rgb(89, 88, 88);
    padding: 14px 30px;
}

.active,
.top-nav-ul a:hover,
.top-nav-ul a:focus {
    padding: 10px 28px;
    border: 2px solid white;
    background: #f6a68c;
    border-radius: 15px;
}


/* MAIN */

main {
    margin: auto 12%;
    color: #636363;
    font-family: 'Quattrocento', serif;
    text-align: left;
}


/* scrolling */

.scrolled {
    padding-top: 325px;
}

.scrolled-less {
    padding-top: 125px;
}


/* sections */

section {
    background: white;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-around;
    min-height: 200px;
    padding: 6% 3%;
}

.sec-title {
    padding-right: 30px;
    flex: 1 1 20%;
    text-align: center;
}

.sec-title h2 {
    margin-top: 55%;
    font-size: 20px;
}

.intro h2 {
    font-size: 20px;
    font-style: italic;
}

.border {
    border-left: 1px solid lightgray;
    display: flex;
    flex: 0 1 85%;
}

.flex-div-ul {
    border-left: 1px solid lightgray;
    display: flex;
    flex: 0 1 85%;
}

.pic {
    margin: auto;
}

.flex-div-ul {
    display: flex;
    width: 100%;
}

.flex-div-skills {
    flex: 1 1 calc(33% - 1em);
}

.flex-div-skills h2 {
    text-align: center;
}

.ul-skills {
    padding: 0;
    list-style: none;
    text-align: center;
}

.info {
    line-height: 2em;
    padding: 10px 50px;
}

.mug {
    max-width: 300px;
    margin: 15px 30px 0 0;
    border-radius: 20px;
}

.round {
    border-radius: 100%;
}

.webdev-link-img:hover {
    box-shadow: 2px 2px 14px black;
}

.large-icon {
    padding-top: 25px;
    font-size: 45px;
    text-decoration: none;
    color: #4a4777;
}

.large-icon:hover {
    /* color: rgb(184, 190, 196); */
    color: coral;
}


/* FOOTER */

footer {
    padding: 12% 0;
    text-align: center;
    color: #35335a;
    font-family: 'Libre Baskerville', serif;
    line-height: 40px;
}

footer h3 {
    text-transform: uppercase;
    font-size: 25px;
}

.icons {
    cursor: default;
    list-style: none;
    padding-top: 20px;
    padding-left: 0;
    font-size: 40px;
}

.icon {
    display: inline-block;
    padding: 14px;
    line-height: 1em;
    font-size: 40px;
}

.icon,
.email {
    text-decoration: none;
    color: #4a4777;
}

.mail {
    vertical-align: middle;
}

.icon:hover,
.email:hover {
    text-decoration: underline;
    color: coral;
}


/* MEDIA STYLING */

@media all and (max-width: 1200px) {
    section {
        flex-wrap: wrap;
    }
    .flex-div {
        flex: 1 1 calc(80% - 1em);
    }
    .flex-div-ul {
        display: flex;
        width: 80%;
    }
    .top-nav,
    main {
        margin: auto 6%;
    }
    .sec-title {
        flex: 0 0 15%;
        text-align: center;
    }
}

@media all and (max-width: 1000px) {
    .border {
        flex-wrap: wrap;
    }
}

@media all and (max-width: 885px) {
    .border,
    .flex-div-ul {
        border: 0;
    }
    .sec-title {
        flex: 0 1 16%;
    }
}

@media all and (max-width: 800px) {
    .flex-div-ul {
        font-size: 80%;
    }
    .border,
    .flex-div-ul {
        border: 0;
    }
    .sec-title {
        flex: 0 1 16%;
    }
}

@media all and (max-width: 620px) {
    .mug {
        width: 280px;
    }
    header h1 {
        font-size: 2em;
    }
    .flex-div-ul {
        width: 100%;
    }
    .skills-title {
        border: 0;
        margin-top: 0;
    }
    .top-nav-ul li {
        font-size: 16px;
        flex: 1 1 33%;
        padding: 5px 0;
    }
}

@media all and (max-width: 490px) {
    .flex-div {
        flex: 1 1 90%;
    }
    footer {
        font-size: 80%;
    }
}

@media all and (max-width: 420px) {
    body {
        font-size: 16px;
    }
    .top-nav-ul a {
        /* font-size: 16px; */
        /* flex: 1 1 25%; */
        padding: 5px 0;
    }
    .top-nav-ul a:hover {
        padding: 3px 9px;
    }
    header {
        font-size: 80%;
    }
    .flex-div,
    .flex-div-skills {
        flex: 1 1 calc(90% - 1em);
    }
    .info {
        padding: 10px 35px;
    }
    .top-nav,
    main,
    .title {
        margin: auto 0;
    }
}

@media all and (max-width: 320px) {
    body {
        font-size: 14px;
    }
    .top-nav-ul a {
        padding: 5px 9px;
    }
    .top-nav-ul a:hover {
        padding: 3px 9px;
    }
}