* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quattrocento', serif;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    background-image: linear-gradient(#caddfd, #beefec, lavender);
    color: rgba(255, 255, 255, 0.65);
}


/* HEADER */

header {
    padding: 0;
    text-align: center;
    color: #4a4777;
    font-family: 'Libre Baskerville', serif;
}

header h1 {
    padding: 60px 0 0;
    font-size: 3em;
    text-shadow: 3px 3px 3px lavenderblush;
}

.header-flex {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

header h1 {
    margin: 0;
}

header p {
    padding-bottom: 5%;
}

.top-nav {
    color: #453333;
    font-family: 'Quattrocento', serif;
    z-index: 10;
    margin: auto 12%;
    background: rgb(255, 183, 155);
    border: 5px outset;
}

.top-nav-ul {
    padding: 5px 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.top-nav-ul li {
    padding: 14px 0;
}

.top-nav-ul a {
    text-decoration: none;
    color: rgb(89, 88, 88);
    padding: 12px 30px;
    border: 2px solid transparent;
}

.top-nav-ul a:hover,
.top-nav-ul a:focus {
    border: 2px solid white;
    background: #f6a68c;
    border-radius: 20px;
    box-shadow: 1px 1px 2px darkgrey;
}


/* MAIN */

main {
    border-top: 0;
    margin: auto 12%;
    color: #636363;
    font-family: 'Quattrocento', serif;
    text-align: left;
    border: 5px outset;
}


/* sections */

section {
    background: white;
    border-bottom: 1px solid lightgray;
    min-height: 200px;
    padding: 12% 3% 6%;
}

.container,
.skills-container {
    display: flex;
    justify-content: baseline;
}

.sec-title {
    flex: 0 1 15%;
    text-align: center;
    margin-top: 15%;
    font-size: 20px;
}

.intro h2 {
    font-size: 20px;
    font-style: italic;
}

.border {
    border-left: 1px solid lightgray;
    display: flex;
    flex: 0 1 80%;
    justify-content: space-evenly;
}

.flex-div-ul {
    border-left: 1px solid lightgray;
    display: flex;
    flex: 0 1 85%;
}

.pic {
    margin: auto;
}

.skills-title {
    margin-top: 12%;
}

.skills-container {
    flex-wrap: wrap;
}

.flex-div-ul {
    padding: 30px 0;
    display: flex;
    width: 100%;
}

.flex-div-skills {
    flex: 1 1 calc(33% - 1em);
}

.flex-div-skills h2 {
    text-align: center;
}

.ul-skills {
    padding: 0;
    list-style: none;
    text-align: center;
}

.info {
    line-height: 2em;
    padding: 10px 50px;
}

.mug {
    max-width: 300px;
    border-radius: 20px;
}

.round {
    border-radius: 100%;
}

.webdev-link-img:hover {
    box-shadow: 2px 2px 14px black;
}

.github-links {
    margin-top: 6%;
    display: flex;
    justify-content: center;
}

.large-icon {
    padding: 25px 13px;
    color: #4a4777;
}

.large-icon:hover {
    color: coral;
}


/* FOOTER */

footer {
    padding: 6% 0;
    text-align: center;
    color: #35335a;
    font-family: 'Libre Baskerville', serif;
    line-height: 40px;
}

.up {
    color: #35335a;
    text-decoration: none;
    font-size: 200%;
    bottom: 365px;
    position: fixed;
    right: 78px;
}

.up:hover {
    color: coral;
}

footer h3 {
    text-transform: uppercase;
    font-size: 25px;
}

.icons {
    cursor: default;
    list-style: none;
    padding-top: 20px;
    padding-left: 0;
    font-size: 40px;
}

.icon {
    display: inline-block;
    padding: 14px;
    line-height: 1em;
    font-size: 40px;
}

.icon,
.email {
    text-decoration: none;
    color: #4a4777;
}

.mail {
    vertical-align: middle;
}

.icon:hover,
.email:hover {
    text-decoration: underline;
    color: coral;
}


/* MEDIA STYLING */

@media all and (max-width: 1200px) {
    .container {
        flex-wrap: wrap;
    }
    .flex-div {
        flex: 1 1 calc(80% - 1em);
    }
    .flex-div-ul {
        display: flex;
        width: 80%;
    }
    .top-nav,
    main {
        margin: auto 6%;
    }
}

@media all and (max-width: 1000px) {
    .border {
        flex-wrap: wrap;
    }
}

@media all and (max-width: 885px) {
    .border,
    .flex-div-ul {
        border: 0;
    }
    .sec-title {
        flex: 1 1 100%;
        margin: 0;
    }
    .container {
        margin-top: 6%;
        flex: 1 1 100%;
    }
    .border {
        flex: 1 1 100%;
        margin-top: 25px;
    }
}

@media all and (max-width: 800px) {
    .flex-div-ul {
        font-size: 80%;
    }
    .border,
    .flex-div-ul {
        border: 0;
    }
}

@media all and (max-width: 620px) {
    .mug {
        width: 280px;
    }
    header h1 {
        font-size: 2em;
    }
    .skills-container {
        justify-content: center;
    }
    .flex-div-ul {
        flex: 0 1 95%;
    }
    .skills-title {
        border: 0;
        margin-top: 0;
    }
    .top-nav-ul li {
        font-size: 16px;
    }
    .top-nav-ul a {
        padding: 15px 9px;
    }
    .top-nav-ul a:hover {
        padding: 13px 9px;
    }
}

@media all and (max-width: 490px) {
    .flex-div {
        flex: 1 1 90%;
    }
    footer {
        font-size: 80%;
    }
}

@media all and (max-width: 420px) {
    body {
        font-size: 16px;
    }
    header {
        font-size: 80%;
    }
    .flex-div,
    .flex-div-skills {
        flex: 1 1 calc(90% - 1em);
    }
    .info {
        padding: 10px 35px;
    }
    .top-nav,
    main,
    .title {
        margin: auto 0;
    }
}

@media all and (max-width: 320px) {
    body {
        font-size: 14px;
    }
    .top-nav-ul li {
        padding: 4px 0;
    }
    .top-nav-ul a {
        padding: 8px 9px;
    }
    .top-nav-ul a:hover {
        padding: 6px 9px;
    }
}