* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Quattrocento', serif;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    background: #ffffff;
}


/* CONTACT NAV */

.top-icons {
    padding-left: 0;
    cursor: default;
    list-style: none;
}

.top-icon {
    display: inline-block;
}

.top-icon a {
    text-decoration: none;
    color: white;
    text-shadow: 0 0 3px #be41f4, 0px 0px 16px #41d6f4;
    padding: 5px;
    font-size: 25px;
}

.top-icon a:hover,
.top-icon.email:hover {
    color: rgb(151, 252, 255);
}


/* HEADER */

header {
    margin: 0;
    font-family: 'Libre Baskerville', serif;
}

.hero {
    width: 100%;
    background-image: linear-gradient(rgba(4, 4, 4, 0.45), rgba(4, 4, 4, 0.45)), url("sunset.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-text {
    margin: auto;
    max-width: 900px;
    padding: 95px 0;
    color: white;
    text-shadow: 0 0 3px #be41f4, 0px 0px 16px #41d6f4;
}

.header-text h1 {
    margin: 0;
    font-size: 2.5em;
}

.header-text h1:hover {    
    text-shadow: 0 0 5px #be41f4, 0px 0px 16px #41d6f4;
}

.hidden {
    display: none;
}

.show-flex {
    display: flex;
}

.top-nav {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    font-family: 'Quattrocento', serif;
    z-index: 10;
    margin: auto  0;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.other {
    background: black;
    color: whitesmoke;
    text-align: right;
    padding: 0 10px;
    justify-content: flex-end;
    list-style: none;
}

.top-nav-ul {
    background: rgb(255, 183, 155);
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.top-nav-ul a {
    text-decoration: none;
    color: #4a4777;
    padding: 12px 30px;
}

.top-nav-ul a:hover,
.top-nav-ul a:focus {
    text-decoration: underline;
    color: darkslategray;
}


/* MAIN */

main {
    border-top: 0;
    margin: auto 12%;
    color: #636363;
    font-family: 'Quattrocento', serif;
    text-align: left;
}


/* sections */

section {
    border-bottom: 1px solid lightgray;
    min-height: 200px;
    padding: 12% 3% 6%;
}

.container,
.skills-container {
    display: flex;
}

.sec-title {
    flex: 0 1 15%;
    text-align: center;
    margin-top: 15%;
    font-size: 20px;
}

.intro h2 {
    font-size: 20px;
    font-style: italic;
}

.border {
    border-left: 1px solid lightgray;
    display: flex;
    flex: 0 1 80%;
    justify-content: space-evenly;
}

.flex-div-ul {
    border-left: 1px solid lightgray;
    display: flex;
    flex: 0 1 85%;
}

.web-dev {
    border-left: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    flex: 0 80%;
}

.pic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-pic {
    margin: 15px auto;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.flex-pic > h3 {
    padding: 5px 0 10px;
}

.skills-title {
    margin-top: 12%;
}

.skills-container {
    flex-wrap: wrap;
}

.flex-div-ul {
    padding: 30px 0;
    display: flex;
    width: 100%;
}

.flex-div-skills {
    flex: 1 1 calc(33% - 1em);
}

.flex-div-skills h2 {
    text-align: center;
}

.ul-skills {
    padding: 0;
    list-style: none;
    text-align: center;
}

.info {
    line-height: 2em;
    padding: 10px 50px;
}

.info h2 {
    padding-bottom: 10px;
}

.mug {
    max-width: 300px;
    border-radius: 100%;
    margin-top: 50px;
}

.webdev-link-img {
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.webdev-link-img:hover {
    box-shadow: 2px 2px 14px black;
}

.github-links {
    margin-top: 6%;
    display: flex;
    justify-content: center;
}

.large-icon {
    padding: 25px 13px;
    color: #4a4777;
}

.large-icon:hover {
    color: coral;
}

.project-info {
    margin-top: 20px;
}

.project-info h3 {
    text-align: center;
    text-transform: uppercase;
}

.project-skills-list {
    padding: 30px 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

/* FOOTER */

footer {
    padding: 6% 0;
    text-align: center;
    color: #35335a;
    font-family: 'Libre Baskerville', serif;
    line-height: 40px;
}

.up {
    color: #35335a;
    text-decoration: none;
    font-size: 200%;
    bottom: 365px;
    position: fixed;
    right: 78px;
}

.up:hover {
    color: coral;
}

.icons {
    cursor: default;
    list-style: none;
    padding-top: 20px;
    padding-left: 0;
    font-size: 40px;
}

.icon {
    display: inline-block;
    padding: 14px;
    line-height: 1em;
    font-size: 40px;
}

.icon,
.email {
    text-decoration: none;
    color: #4a4777;
}

.icon:hover,
.email:hover {
    text-decoration: underline;
    color: coral;
}


/* MEDIA STYLING */

@media all and (max-width: 1200px) {
    .container {
        flex-wrap: wrap;
    }
    .flex-div {
        flex: 1 1 calc(80% - 1em);
    }
    .flex-div-ul {
        display: flex;
        width: 80%;
    }
    main {
        margin: auto 6%;
    }
}

@media all and (max-width: 1000px) {
    .border {
        flex-wrap: wrap;
    }
}

@media all and (max-width: 885px) {
    .border,
    .flex-div-ul,
    .web-dev {
        border: 0;
    }
    .sec-title {
        flex: 1 1 100%;
        margin: 0;
    }
    .container {
        margin-top: 6%;
        flex: 1 1 100%;
    }
    .border,
    .web-dev {
        flex: 1 1 100%;
        margin-top: 25px;
    }
}

@media all and (max-width: 800px) {
    .flex-div-ul {
        font-size: 80%;
    }
}

@media all and (max-width: 620px) {
    .mug {
        width: 280px;
    }
    header h1 {
        font-size: 2em;
    }
    .skills-container {
        justify-content: center;
    }
    .flex-div-ul {
        flex: 0 1 95%;
    }
    .skills-title {
        border: 0;
        margin-top: 0;
    }
    .top-nav-ul li {
        font-size: 16px;
    }
    .top-nav-ul a {
        padding: 15px 9px;
    }
    .top-nav-ul a:hover {
        padding: 13px 9px;
    }

    .project-skills-list {
        flex-direction: column;
    }
}

@media all and (max-width: 620px) and (min-width:490px) {
    .webdev-link-img {
        max-width: 400px;
    }
}

@media all and (max-width: 490px) {
    .flex-div {
        flex: 1 1 90%;
    }

    .webdev-link-img {
        max-width: 400px;
    }
}

@media all and (max-width: 489px) and (min-width: 421px) {
    header h1 {
        font-size: 38px;
    }

    .webdev-link-img {
        max-width: 340px;
    }
}

@media all and (max-width: 440px) and (min-width: 421px) {
    header h1 {
        font-size: 38px;
    }
}

@media all and (max-width: 420px) {
    body {
        font-size: 16px;
    }
    header {
        margin: 0 auto;
    }
    header h1 {
        font-size: 2em;
    }
    .flex-div,
    .flex-div-skills {
        flex: 1 1 calc(90% - 1em);
    }
    .info {
        padding: 10px 35px;
    }
    .top-nav,
    main {
        margin: auto;
    }
    .intro h2 {
        font-size: 17px;
    }

    .webdev-link-img {
        max-width: 380px;
    }
}

@media all and (max-width: 419px) {
    .webdev-link-img {
        max-width: 280px;
    }
}

@media all and (max-width: 320px) {
    .top-nav-ul li {
        padding: 4px 0;
    }
    .top-nav-ul a {
        padding: 8px 9px;
    }
    .top-nav-ul a:hover {
        padding: 6px 9px;
    }
}